@font-face {
    font-family: 'MeriFont';
    src: url('../fonts/NimbusSanL-Reg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MeriFont';
    src: url('../fonts/NimbusSanL-Bol.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MeriFont';
    font-weight: normal;
    // cursor: none;
}

html,body{
    width: 100%;
    height: 100%;
}


.cursor{
    height: 1.4rem;
    width: 1.4rem;
    border: 1px solid rgb(1, 1, 1);
    border-radius: 50%;
    position: fixed; 
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease all;
    transform: translate(-50%, -50%);
    z-index: 9999; 
    
    
}

.min-crsr{
    width: 8px;
    height: 8px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transform: 0.8s ease all;
    transform: translate(-50%,-50%);
}
#main{
    width: 100%;


    .home{
        width: 100%;

        nav{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.5rem 9vw;
    
            a{
                display: inline-block;
                text-decoration: none;
                text-transform: uppercase;
                color: black;
            }
    
            .nav-left{
                display: flex;
                gap: 1rem;
            }
        }

        #hero{
            width: 100%;
            margin-top: 12vw;
            padding: 1.5rem 9vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            

            .sustain{
                width: 13vw;
                h5{
                    font-weight: 600;
                }
                h1{
                    font-weight: bold;
                    font-size: 1.8rem;
                }
                p{
                    font-size: 0.8rem;
                    margin: 0.4rem 0;
                    text-transform: capitalize;
                    font-weight: 800;
                    opacity: 0.5;
                    line-height: 1.2;
                }

                .sustain-image-wrapper{
                    position: relative;
                    overflow: hidden;
                    width: 100%;
                    height: 18vw;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .ephemeral{
                width: 28vw;
                min-height: 40vw;
                position: relative;

                .heading{
                    position: absolute;
                    top: -19%;
                    left: -18%;
                    
                    h1{
                        font-size: 5vw;
                        letter-spacing: -.4vw;
                        font-weight: 400;
                        line-height: 1;
                    }
                }

                
                
                .ephemeral-img-wrapper{
                    width: 100%;
                    height: 100%;
                    p{
                        width: 12vw;
                        margin-top: 1rem;
                        font-size: 1.3vw;
                        letter-spacing: -.1vw;
                        line-height: 1.2;
                    }

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .visit{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                #circlev{
                    width: 3vw;
                    height: 3vw;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    border: 2px solid #5e5e5e;

                    i{
                        color: #5e5e5e;
                    }
                }

                h3{
                    color: #5e5e5e;
                    font-weight: 500;
                }
            }
            
        }

    }
    .motive{
        display: flex;
        justify-content: space-between;
        padding: 2rem 9vw;
        margin-top: 6vw;

        h3{
            text-transform: uppercase;
            color: #5e5e5e;
            opacity: 0.8;
            font-size: .9rem;
        }

        p{
            text-align: right;
            width: 80%;
            font-size: 2vw;
            line-height: 1.6;
            font-weight: 500;
            letter-spacing: -.15vw;
            
            span{
                margin: 0 5px;
                margin-bottom: -12px;
                display: inline-block;
                background-color: red;
                border-radius: 5rem;
                
            }
            #span-1{
                width: 3.5rem;
                height: 2.5rem;
                background-image: url('./images/bluegirl.jpg');
                background-size: cover;
                background-position: 0% 60%;
                
            }
            #span-2{
                width: 5.5rem;
                height: 3rem;
                background-image: url('./images/shaljam.jpg');
                background-size: cover;
                background-position: 0% 50%;
                
            }
            #span-3{
                width: 3.5rem;
                height: 2.5rem;
                background-image: url('./images/grass.jpg');
                background-size: cover;
                background-position: 0% 60%;
                
            }
            
        }

    }

    .pictures{
        padding: 1.5vw 14vw 1.5vw 12vw;
        width: 100%;
        margin-top: 8vw;
        display: flex;
        justify-content: space-between;

        
        .first-pic{
            p{
                letter-spacing: -.1vw;
                font-size: 1.3rem;
            }
            width: 20vw;

            .pic-1{
                width: 100%;
                height: 30vw;
                margin-bottom: 1vw;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .sec-pic{
            width: 28vw;
            display: flex;
            flex-direction: column;
            align-items: end;

            p{
                width: 15vw;
                letter-spacing: -.1vw;
                font-size: 1.3rem;
            }

            .pic-2{
                width: 100%;
                height: 42vw;
                margin-bottom: 1vw;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .banner{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-top: 8vw;
        
        .ban-img{
            width: 65%;
            height: 65vh;
            
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 0% 70%;
            }
        }

        .ban-text{
            width: 35%;

            h1{
                font-size: 2.4vw;
                font-weight: 400;
                letter-spacing: -.15vw;
                line-height: 1;
            }

            p{
                margin-top: 1rem;
                width: 60%;
                font-size: 1vw;
            }
        }
    }

    .future{
        width: 100%;
        height: 100vh;
        display: flex;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        overflow: hidden;

        video{
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
            width: 100%;
            opacity: 0;
            transition: 0.3s all ease;
        }

        .ftext{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            position: relative;
            z-index: 99;
            background-color: white;
            padding: 1.5vw 3vw;
            border-radius: 1rem;

            h3{
                text-transform: capitalize;
            }

            button{
                padding: 0.5rem 1rem;
                font-size: 1vw;
                background-color: white;
                border: 1px solid #c6c6c6;
                color: #000000;
                position: relative;
                z-index: 1;
                border-radius: 5rem;
                overflow: hidden;
            }

            button:after{
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                background-color: #d3cccc;
                left: 0;
                right: 0;
                transform: scaleX(0);
                z-index: -1;
                transition: 0.5s ease;
                transition: transform 0.5s ease;
                transform-origin: right;

            }

            button:hover:after{
                transform: scaleX(1);
                color: white;
                transform-origin: left;
            }
            
        }


    }


}