@font-face {
    font-family: font-1;
    src: url(./font/NeueHaasDisplayMediu.ttf);
}
@font-face {
    font-family: font-2-bold;
    src: url(./font/NeueHaasDisplayBold.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font-1;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #EFEAE3;
    font-family: font-1;
}

@keyframes anime {
    from{
        transform: translate(75%, -10%);
    }
    to{
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from{
        transform: translate(15%, -10%);
    }
    to{
        transform: translate(-10%, 40%);
    }
}

@keyframes marquee {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}



main{
    width: 100%;


    .page-1{
        width: 100%;
        position: relative;
        padding: 2rem 1rem;
        overflow: hidden;

        nav{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            img{
                width: 8rem;
            }

            .links{
                display: flex;
                gap: 1rem;

                a{
                    display: none;
                    text-decoration: none;
                    color: rgba(0, 0, 0, 0.632);
                    text-transform: capitalize;
                    font-size: 1.1rem;
                    padding: 0.6rem 1rem;
                    border: 1px solid rgba(0, 0, 0, 0.352);
                    border-radius: 3rem;
                    position: relative;
                    overflow: hidden;
                    z-index: 1;
                }

                a::after{
                    content: "";
                    width: 100%;
                    height: 100%;
                    background-color: black;
                    position: absolute;
                    left: 0;
                    bottom: -100%;
                    transition: 0.3s ease all;
                    z-index: -1;
                    border-radius: 50%;
                }

                a:hover::after{
                    bottom: 0;
                    border-radius: 0;
                }

                a:hover{
                    color: white;
                }
            }
        }

        .center{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;
            border-bottom: 1px solid black;
            padding-bottom: 2rem;
            margin-top: 4.5rem;

            .left{
                width: 100%;
                margin-top: 3rem;
                p{
                    width: 95%;
                    font-size: 1.1rem;
                    font-weight: 500;
                }
            }

            .right{
                width: 100%;
                text-align: right;
                h1{
                    width: 100%;
                    font-size: 3.8rem;
                    margin-right: 0.8rem;
                    line-height: 0.8;
                    text-transform: uppercase;
                    font-family: font-1;
                }
            }
        }

        .video{
            width: 100%;
            margin-top: 2rem;
            video{
                position: relative;
                z-index: 10;
                width: 100%;
                aspect-ratio: 1/1.5;
                border-radius: 1rem;
                object-fit: cover;
            }
        }

        .hero-shape{
            position: absolute;
            width: 36vh;
            height: 36vh;
            right: 0;
            top: 65vh;
            
            
            .shape-1{
                width: 100%;
                height: 100%;
                border-top-left-radius: 50%;
                border-bottom-left-radius: 50%;
                background-color: #FE330A;
                filter: blur(10px);
                position: absolute;
            }
            .shape-2{
                width: 30vh;
                height: 30vh;
                border-radius: 50%;
                background: linear-gradient(#FE330A, #fe3f0a);
                filter: blur(30px);
                position: absolute;
                animation-name: anime2;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-duration: 5s;
            }
            .shape-3{
                width: 30vh;
                height: 30vh;
                border-radius: 50%;
                background: linear-gradient(#FE330A, #fe3f0a);
                filter: blur(30px);
                position: absolute;
                animation-name: anime;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-duration: 3s;
            }
        }
        
    }

    .page-2{
        width: 100%;
        padding: 2rem 0;

        .moving{
            width: 100%;
            display: flex;
            gap: 1rem;
            overflow-x: auto;

            
            .container{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                animation: marquee 7s linear  infinite;

                h1{
                    font-size: 4rem;
                }

                .circle{
                    width: 1.8rem;
                    height: 1.8rem;
                    background-color: #FE330A;
                    border-radius: 50%;
                }
            }

        }

        .moving::-webkit-scrollbar{
            display: none;
        }
    }

}



@media (min-width: 900px) {
    main{
                
        .page-1{
            padding: 2rem 2.5rem;
            

            nav{
                img{
                    width: 10rem;
                }
                .links{
                    a{
                        display: inline-block;
                    }
                }
            }

            .center{
                flex-direction: row;
                align-items: flex-end;
                justify-content: space-between;
                margin-top: 11rem;

                .left{
                    width: 30%;

                    p{
                        font-size: 1.5rem;
                    }

                }

                .right{
                    width: 70%;
                    
                    h1{
                        font-size: 10rem;
                    }
                    
                }
            }

            .video{
                margin-top: 4rem;

                video{
                    width: 100%;
                    aspect-ratio: 1/0.6;
                }
            }

            .hero-shape{
                position: absolute;
                width: 40vw;
                height: 30vw;
                right: 0;
                top: 42vw;
                
                
                .shape-2{
                    width: 30vw;
                    height: 30vw;
                }
                .shape-3{
                    width: 30vw;
                    height: 30vw;
                }
            }
        }


        .page-2{
            .moving{
                .container{
                    h1{
                        font-size: 8rem;
                    }
                }
            }
        }

    }
}