*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: white;
}





.btn-grad {background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4  51%, #E55D87  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   border: none;
}

.btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
}



.btn-grad2 {background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%)}
.btn-grad2 {
   margin: 10px;
   padding: 15px 45px;
   font-family: monospace;
   letter-spacing: 0.2rem;
    font-size: 1.2rem;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
//    box-shadow: 0 0 10px #eee;
   border-radius: 10px;
   display: block;
   border: none;
   position: relative;
   z-index: 10;
}

.btn-grad2:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
}





main{
    width: 100%;
    height: 100%;
    
    .cursor{
        height: 20px;
        width: 20px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        position: fixed; 
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
        transition: 0.15s ease all;
        mix-blend-mode: difference;
        transform: translate(-50%, -50%);
        z-index: 9999;
    }


    .create-elem{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
    }

    .img-swap{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        padding-top: 2rem;
    
        img{
            aspect-ratio: 3/4;
            border-radius: 2rem;
        }
    
    }

    .like{
        width: 100%;
        height: 100%;
        padding: 2rem;
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(auto-fit, 300px);
        justify-content: center;
        align-items: center;

        .card{
            width: 300px;
            height: 420px;
            border: 1px solid rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
            background-color: white;

            .top{
                width: 100%;
                position: relative;
                
                img{
                    width: 100%;
                    aspect-ratio: 2 / 2.5;
                    display: flex;
                    object-fit: cover;
                    border: 5px solid white;
                    // position: relative;
                }

                #heart{
                    position: absolute;
                    color: red;
                    font-size: 7rem;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(0);
                    opacity: 0;
                    transition: transform 0.5s ease;
                }
            }
            

            .bottom{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: .5rem;
                color: black;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

                h1{
                    font-size: 1.5rem;
                    font-weight: 400;
                }

                i{
                    font-size: 1.2rem;
                }
            }
        }
    }


    .img-effect{
        width: 100%;
        height: 100%;
        position: relative;

        .sec:first-child{
            border-top: 1px solid black;
        }

        .sec{
            width: 100%;
            border-bottom: solid 1px black;
            height: 9rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;

            img{
                width: 200px;
                height: 250px;
                object-fit: cover;
                object-position: center;
                // border-radius: 50%;
                position: absolute;
                transition: 0.3s ease all;
                // transform: translate(-50%, -50%);
                // z-index: 999;
               
                opacity: 0;
            }

            h1{
                padding-left: 1rem;
                font-size: 6vw;
                position: relative;
                // z-index: 10;
                mix-blend-mode: difference;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
        }
    }
    
}

