* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

main .view-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #2A2A29;
  gap: 2rem;
}
main .view-3 .top {
  width: 100%;
}
main .view-3 .top .text {
  padding: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
}
main .view-3 .top .text h1 {
  width: 80%;
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #DBDBD8;
  line-height: 1.1;
  letter-spacing: 0.1rem;
}
main .view-3 .bottom {
  width: 100%;
  padding: 0 5rem 5rem 5rem;
}
main .view-3 .bottom .marquee {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 40vh;
  overflow: hidden;
  position: relative;
}
main .view-3 .bottom .marquee .card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "a . b" ". c .";
  animation: marquee 5s linear infinite;
  height: 100%;
}
main .view-3 .bottom .marquee .card .image-1, main .view-3 .bottom .marquee .card .image-2, main .view-3 .bottom .marquee .card .image-3 {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
}
main .view-3 .bottom .marquee .card .image-1 img, main .view-3 .bottom .marquee .card .image-2 img, main .view-3 .bottom .marquee .card .image-3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .view-3 .bottom .marquee .card .image-1 {
  grid-area: a;
}
main .view-3 .bottom .marquee .card .image-2 {
  grid-area: b;
}
main .view-3 .bottom .marquee .card .image-3 {
  grid-area: c;
}
@keyframes marquee {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@media (min-width: 768px) {
  main .view-3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #2A2A29;
    gap: 2rem;
  }
  main .view-3 .top {
    width: 100%;
  }
  main .view-3 .top .text {
    padding: 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
  }
  main .view-3 .top .text h1 {
    width: 80%;
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #DBDBD8;
    line-height: 1.1;
    letter-spacing: 0.1rem;
  }
  main .view-3 .bottom {
    width: 100%;
    padding: 0 5rem 5rem 5rem;
  }
  main .view-3 .bottom .marquee {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 65vh;
    overflow: hidden;
    position: relative;
  }
  main .view-3 .bottom .marquee .card {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "a . b" ". c .";
    animation: marquee 5s linear infinite;
    height: 100%;
  }
  main .view-3 .bottom .marquee .card .image-1, main .view-3 .bottom .marquee .card .image-2, main .view-3 .bottom .marquee .card .image-3 {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
  }
  main .view-3 .bottom .marquee .card .image-1 img, main .view-3 .bottom .marquee .card .image-2 img, main .view-3 .bottom .marquee .card .image-3 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .view-3 .bottom .marquee .card .image-1 {
    grid-area: a;
  }
  main .view-3 .bottom .marquee .card .image-2 {
    grid-area: b;
  }
  main .view-3 .bottom .marquee .card .image-3 {
    grid-area: c;
  }
}
@media (min-width: 1000px) {
  main .view-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  main .view-2 .container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    flex-direction: column;
  }
  main .view-2 .container .card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
  main .view-2 .container .card img {
    width: -moz-fit-content;
    width: fit-content;
    height: 10rem;
    display: flex;
    flex: 1;
  }
  main .view-2 .container .card img:hover {
    flex: 0;
  }
  main .view-3 {
    flex-direction: row;
  }
  main .view-3 .top {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .view-3 .top .text {
    width: 100%;
    display: flex;
    align-items: center;
  }
  main .view-3 .top .text h1 {
    width: 80%;
    text-transform: uppercase;
    font-size: 3rem;
    color: #DBDBD8;
    line-height: 1.1;
    letter-spacing: 0.1rem;
  }
  main .view-3 .bottom {
    width: 100%;
    overflow: hidden;
    padding: 1rem 2rem 1rem 5rem;
  }
  main .view-3 .bottom .marquee {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 96vh;
    overflow: hidden;
  }
  main .view-3 .bottom .marquee .card {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "a . b" ". c .";
    animation: marquee 5s linear infinite;
    height: 100%;
  }
  main .view-3 .bottom .marquee .card .image-1, main .view-3 .bottom .marquee .card .image-2, main .view-3 .bottom .marquee .card .image-3 {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
  }
  main .view-3 .bottom .marquee .card .image-1 img, main .view-3 .bottom .marquee .card .image-2 img, main .view-3 .bottom .marquee .card .image-3 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .view-3 .bottom .marquee .card .image-1 {
    grid-area: a;
  }
  main .view-3 .bottom .marquee .card .image-2 {
    grid-area: b;
  }
  main .view-3 .bottom .marquee .card .image-3 {
    grid-area: c;
  }
}/*# sourceMappingURL=style.css.map */