@import 'tailwindcss';

::-webkit-scrollbar {
  width: 6px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #989494;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; 
}

iframe{
  border-radius: 1rem;
}