* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
}
main .view-1 {
  width: 100%;
  border-bottom: 1px solid black;
}
main .view-1 nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
main .view-1 nav .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
main .view-1 nav .logo img {
  padding-left: 1rem;
  height: 1rem;
}
main .view-1 nav .line {
  width: 1px;
  height: 5rem;
  background-color: black;
}
main .view-1 nav .links {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 1rem;
}
main .view-1 nav .links .menu {
  width: 100%;
  display: flex;
  gap: 3rem;
}
main .view-1 nav .links .menu a {
  display: none;
  padding: 0rem 0rem;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}
main .view-1 nav .links .cart {
  font-family: monospace;
  text-transform: uppercase;
  font-size: 1rem;
  padding-left: 1rem;
}
main .view-1 nav .links .btn {
  background-color: rgb(0, 0, 0);
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .view-1 nav .links .btn button {
  background-color: transparent;
  color: white;
  border: transparent;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
main .view-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .view-2 .top {
  display: flex;
  flex-direction: column;
}
main .view-2 .top .image {
  padding: 1.5rem;
  width: 100%;
}
main .view-2 .top .text {
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .view-2 .top .text h1 {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.1;
}
main .view-2 .top .text p {
  font-size: 0.8rem;
}
main .view-2 .scroll {
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
main .view-2 .scroll span {
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 0.7rem;
}
main .view-2 .bottom {
  width: 100%;
  aspect-ratio: 1/1;
}
main .view-2 .bottom img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .view-3 {
  width: 100%;
}
main .view-3 .marquee {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .view-3 .marquee .client {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 1rem 0;
  text-align: center;
}
main .view-3 .marquee .client h1 {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 300;
}
main .view-3 .marquee .line {
  display: none;
  width: 1.2px;
  background-color: black;
  height: auto;
}
main .view-3 .marquee .animate {
  display: flex;
  width: 100%;
  overflow: hidden;
  border-bottom: 0.1px solid black;
}
main .view-3 .marquee .animate .image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  padding: 1.5rem 2.5rem;
  animation: marquee 8s linear infinite both;
}
main .view-3 .marquee .animate .image img {
  height: 2rem;
}
main .view-3 .marquee .animate .image :nth-child(6) {
  height: 1.5rem;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
main .view-3 .line-2 {
  width: 100%;
  height: 1.2px;
  background-color: black;
}
main .view-4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .view-4 .btn {
  width: 100%;
  text-transform: uppercase;
}
main .view-4 .btn a {
  font-size: 1rem;
  font-family: monospace;
  text-decoration: none;
  color: black;
  position: relative;
}
main .view-4 .btn a::after {
  content: "";
  width: 100%;
  height: 1.5px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -0.2rem;
}
main .view-4 .btn a:hover::after {
  animation-name: line;
  animation-duration: 1s;
}
@keyframes line {
  0% {
    width: 100%;
    left: 0%;
  }
  50% {
    width: 0%;
    left: 100%;
  }
  100% {
    width: 100%;
    left: 0%;
  }
}
main .view-4 .left {
  padding: 1.5rem;
  width: 100%;
  border-bottom: 1px solid black;
}
main .view-4 .left .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .view-4 .left .text :nth-child(1) {
  font-family: monospace;
  text-transform: uppercase;
  font-size: 1rem;
}
main .view-4 .left .text h1 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
}
main .view-4 .left .text :nth-child(3) {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.5;
}
main .view-4 .right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .view-4 .right .card {
  border-bottom: 1px solid black;
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .view-4 .right .card .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
main .view-4 .right .card .text h1 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
}
main .view-4 .right .card .text p {
  line-height: 1.6;
  font-weight: 300;
  font-size: 1.1rem;
}
main .view-5 {
  width: 100%;
}
main .view-5 .text {
  border-bottom: 1px solid rgb(0, 0, 0);
  width: 100%;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  padding: 1.5rem;
}
main .view-5 .text h1 {
  letter-spacing: 0.11rem;
  font-size: 1.8rem;
}
main .view-5 .text :nth-child(1) {
  display: none;
}
main .view-5 .text :nth-child(2) {
  -webkit-text-stroke: 0.05rem black;
  color: transparent;
}
main .view-5 .text :nth-child(3) {
  display: none;
}
main .view-5 .grid-container {
  width: 100%;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "c-1" "c-2" "c-3" "c-4";
}
main .view-5 .grid-container .card {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .view-5 .grid-container .card .image {
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}
main .view-5 .grid-container .card .image img {
  width: 100%;
  transition: 0.5s all ease;
}
main .view-5 .grid-container .card .image .overlay {
  width: 100%;
  background-color: rgb(248, 245, 245);
  text-transform: uppercase;
  padding: 1rem;
  font-family: monospace;
  font-size: 1.1rem;
  border-top: 1px solid black;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}
main .view-5 .grid-container .card-1 {
  grid-area: c-1;
  border-bottom: 1px solid black;
}
main .view-5 .grid-container .card-2 {
  grid-area: c-2;
  border-bottom: 1px solid black;
}
main .view-5 .grid-container .card-3 {
  grid-area: c-3;
  border-bottom: 1px solid black;
}
main .view-5 .grid-container .card-4 {
  grid-area: c-4;
}
main .view-6 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .view-6 .top {
  width: 100%;
}
main .view-6 .top .text {
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  letter-spacing: 0.1rem;
}
main .view-6 .top .text h1 {
  font-size: 2rem;
}
main .view-6 .top .text :nth-child(1) {
  display: none;
}
main .view-6 .top .text :nth-child(2) {
  -webkit-text-stroke: 0.05rem black;
  color: transparent;
}
main .view-6 .top .text :nth-child(3) {
  display: none;
}
main .view-6 .bottom {
  width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: sticky;
  top: 0;
  height: -moz-fit-content;
  height: fit-content;
}
main .view-6 .bottom .left {
  width: 100%;
}
main .view-6 .bottom .left .image {
  width: 100%;
  aspect-ratio: 1/1;
}
main .view-6 .bottom .left .image img {
  border-bottom: 1px solid black;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .view-6 .bottom .right {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .view-6 .bottom .right .top-container {
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
main .view-6 .bottom .right .top-container .image img {
  height: 5rem;
}
main .view-6 .bottom .right .top-container .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .view-6 .bottom .right .top-container .text h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
}
main .view-6 .bottom .right .top-container .text p {
  width: 80%;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.8;
}
main .view-6 .bottom .right .bot-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .view-6 .bottom .right .bot-container .container {
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
}
main .view-6 .bottom .right .bot-container .container .b-top {
  width: 100%;
  padding: 1rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #F8F8F8;
}
main .view-6 .bottom .right .bot-container .container .b-top h1 {
  font-family: monospace;
  font-weight: 100;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
}
main .view-6 .bottom .right .bot-container .container .b-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}
main .view-6 .bottom .right .bot-container .container .b-bottom .b-left h1 {
  font-size: 3rem;
  font-weight: 400;
}
main .view-6 .bottom .right .bot-container .container .b-bottom .b-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .view-6 .bottom .right .bot-container .container .b-bottom .b-right .r-top h1 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
}
main .view-6 .bottom .right .bot-container .container .b-bottom .b-right .r-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .view-6 .bottom .right .bot-container .container .b-bottom .b-right .r-bottom p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
}
main .view-6 .bottom .right .bot-container .container .b-bottom .b-right .r-bottom ul {
  margin-left: 1.5rem;
}
main .view-6 .bottom .right .bot-container .container .b-bottom .b-right .r-bottom ul li {
  font-weight: 300;
  font-size: 1rem;
}
main .view-6 .bottom .right .bot-container .container .btn {
  background-color: black;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: monospace;
}
main .view-7 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .view-7 .top {
  width: 100%;
  background-color: #EBFB48;
  border-bottom: 1px solid black;
}
main .view-7 .top .animation {
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
main .view-7 .top .animation .text {
  position: relative;
  z-index: 1;
  min-width: -moz-max-content;
  min-width: max-content;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0.5rem;
  animation: marquee 18s linear infinite both;
}
main .view-7 .top .animation .text p {
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
main .view-7 .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .view-7 .bottom .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-bottom: 1px solid black;
}
main .view-7 .bottom .card .image {
  width: 100%;
  padding: 1.5rem;
}
main .view-7 .bottom .card .image i {
  width: 100%;
  font-size: 3rem;
}
main .view-7 .bottom .card .text-container {
  text-transform: uppercase;
}
main .view-7 .bottom .card .text-container .text {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .view-7 .bottom .card .text-container .btn {
  padding: 1rem;
  width: 100%;
  color: rgb(145, 145, 145);
  background-color: #f7f8fb;
  border-top: 1px solid rgb(0, 0, 0);
  transition: 0.5s ease;
}
main .view-7 .bottom .card:hover .text-container .btn {
  color: rgb(255, 255, 255);
  background-color: black;
}
main .view-8 {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}
main .view-8 .top {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .view-8 .top .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .view-8 .top .text :nth-child(1) {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: monospace;
}
main .view-8 .top .text h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 400;
}
main .view-8 .top .text p {
  font-size: 1.2rem;
  line-height: 1.8;
  font-weight: 300;
}
main .view-8 .bottom {
  width: 100%;
  aspect-ratio: 1/1;
  border-top: 1px solid black;
}
main .view-8 .bottom img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .view-9 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-bottom: 1px solid black;
}
main .view-9 .top {
  width: 100%;
}
main .view-9 .top .text {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  padding: 1rem;
}
main .view-9 .top .text h1 {
  text-transform: uppercase;
  font-size: 1.8rem;
}
main .view-9 .top .text :nth-child(1) {
  display: none;
}
main .view-9 .top .text :nth-child(2) {
  -webkit-text-stroke: 0.05rem black;
  color: transparent;
  letter-spacing: 0.15rem;
}
main .view-9 .top .text :nth-child(3) {
  display: none;
}
main .view-9 .bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .view-9 .bottom .left {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
main .view-9 .bottom .left .l-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 2rem;
}
main .view-9 .bottom .left .l-text :nth-child(1) {
  text-transform: uppercase;
  font-family: monospace;
  font-size: 1.1rem;
}
main .view-9 .bottom .left .l-text h1 {
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 1;
  font-weight: 400;
}
main .view-9 .bottom .left .l-text p {
  font-size: 1.2rem;
  line-height: 1.8;
}
main .view-9 .bottom .left .l-image {
  width: 100%;
}
main .view-9 .bottom .right {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "c-1" "c-2" "c-3" "c-4" "c-5";
}
main .view-9 .bottom .right .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .view-9 .bottom .right .card .r-top {
  padding: 1rem;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: #F8F8F8;
}
main .view-9 .bottom .right .card .r-top p {
  text-transform: uppercase;
  font-family: monospace;
  font-size: 1.1rem;
}
main .view-9 .bottom .right .card .r-bottom {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .view-9 .bottom .right .card .r-bottom .text {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
main .view-9 .bottom .right .card .r-bottom .text h1 {
  font-size: 2rem;
  font-weight: 400;
}
main .view-9 .bottom .right .card .r-bottom .text p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.7;
}
main .view-9 .bottom .right .card .r-bottom .review {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
main .view-9 .bottom .right .card .r-bottom .review .re-image img {
  height: 4rem;
  border-radius: 50%;
}
main .view-9 .bottom .right .card .r-bottom .review .re-text h1 {
  font-size: 1rem;
  text-transform: uppercase;
  font-family: monospace;
}
main .view-9 .bottom .right .card .r-bottom .review .re-text p {
  font-weight: 300;
}
main .view-9 .bottom .right .card-1 {
  grid-area: c-1;
}
main .view-9 .bottom .right .card-2 {
  grid-area: c-2;
}
main .view-9 .bottom .right .card-3 {
  grid-area: c-3;
}
main .view-9 .bottom .right .card-4 {
  grid-area: c-4;
}
main .view-9 .bottom .right .card-5 {
  grid-area: c-5;
}
main .view-10 {
  width: 100%;
  display: flex;
  flex-direction: column;
}
main .view-10 .top {
  width: 100%;
  background-color: #EBFB48;
  border-bottom: 1px solid black;
}
main .view-10 .top .animation {
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
main .view-10 .top .animation .text {
  position: relative;
  z-index: 1;
  min-width: -moz-max-content;
  min-width: max-content;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0.5rem;
  animation: marquee 12s linear infinite both;
}
main .view-10 .top .animation .text p {
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  letter-spacing: 0.2rem;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
main .view-10 .bottom {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .view-10 .bottom .b-top {
  padding: 2rem;
}
main .view-10 .bottom .b-top .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .view-10 .bottom .b-top .text p {
  font-family: monospace;
  font-size: 1.1rem;
  text-transform: uppercase;
}
main .view-10 .bottom .b-top .text h1 {
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1;
}
main .view-10 .bottom .b-bottom {
  background-color: black;
  display: flex;
  justify-content: center;
}
main .view-10 .bottom .b-bottom button {
  background-color: transparent;
  text-transform: uppercase;
  color: white;
  border: transparent;
  padding: 1rem;
}
main .view-11 {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid black;
  margin-top: 3rem;
}
main .view-11 .top {
  border-bottom: 1px solid black;
}
main .view-11 .top .text {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
}
main .view-11 .top .text h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: capitalize;
}
main .view-11 .bottom {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "c-1" "c-2" "c-3" "c-4";
}
main .view-11 .bottom .card {
  border-bottom: 1px solid black;
}
main .view-11 .bottom .card .image {
  width: 100%;
  display: flex;
  justify-self: center;
}
main .view-11 .bottom .card .image img {
  width: 100%;
  border-bottom: 1px solid black;
}
main .view-11 .bottom .card .text {
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .view-11 .bottom .card .text h1 {
  text-transform: uppercase;
  font-weight: 400;
}
main .view-11 .bottom .card .text p {
  line-height: 1.5;
  font-weight: 300;
  font-size: 1.1rem;
}
main .view-11 .bottom .card-1 {
  grid-area: c-1;
}
main .view-11 .bottom .card-2 {
  grid-area: c-2;
}
main .view-11 .bottom .card-3 {
  grid-area: c-3;
}
main .view-11 .bottom .card-4 {
  grid-area: c-4;
}
main .view-12 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "c-1" "c-2" "c-3" "c-4";
  gap: 2rem;
  color: white;
}
main .view-12 .card {
  padding: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-transform: uppercase;
}
main .view-12 .card .text {
  width: 100%;
}
main .view-12 .card .text h1 {
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
main .view-12 .card .links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .view-12 .card .links a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: monospace;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
main .view-12 .card .btn {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #EBFB48;
  color: black;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid white;
  padding: 0.8rem 1rem;
  letter-spacing: 0.1rem;
  border: 1px solid black;
  white-space: nowrap;
}
main .view-12 .card .btn .about p {
  font-family: monospace;
  font-size: 1rem;
}
main .view-12 .card .btn .arrow i {
  font-size: 1rem;
}
main .view-12 .card-1 {
  width: 100%;
  display: flex;
  grid-area: c-1;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
main .view-12 .card-1 .text p {
  color: black;
  font-family: monospace;
}
main .view-12 .card-2 {
  grid-area: c-2;
}
main .view-12 .card-3 {
  grid-area: c-3;
}
main .view-12 .card-4 {
  grid-area: c-4;
}

@media (min-width: 900px) {
  main .view-1 nav .links .menu a {
    display: block;
  }
  main .view-1 nav .links .links {
    display: block;
  }
  main .view-2 {
    flex-direction: row-reverse;
    border-bottom: 1px solid black;
  }
  main .view-2 .top {
    width: 50%;
    justify-content: space-between;
    border-left: 1px solid black;
  }
  main .view-2 .top .image {
    padding: 4rem;
  }
  main .view-2 .top .image img {
    height: 5rem;
  }
  main .view-2 .top .text {
    padding: 4rem;
    gap: 3rem;
  }
  main .view-2 .top .text h1 {
    width: 60%;
    font-size: 6rem;
    line-height: 1;
  }
  main .view-2 .top .text p {
    width: 90%;
    font-size: 1.5rem;
    font-weight: 300;
  }
  main .view-2 .top .scroll {
    border-bottom: none;
  }
  main .view-2 .bottom {
    width: 50%;
  }
  main .view-2 .bottom img {
    width: 100%;
    aspect-ratio: 1/1;
  }
  main .view-3 .marquee {
    flex-direction: row;
  }
  main .view-3 .marquee .client {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    border-top: none;
    border-right: 1px solid black;
    word-spacing: 5px;
  }
  main .view-3 .marquee .client h1 {
    font-size: 1rem;
  }
  main .view-3 .marquee .animate .image {
    gap: 10rem;
    padding: 1.5rem 5rem;
    animation: marquee 10s linear infinite both;
  }
  main .view-3 .marquee .animate .image img {
    height: 3rem;
  }
  main .view-4 {
    flex-direction: row;
    border-bottom: 1px solid black;
    overflow: visible;
  }
  main .view-4 .left {
    height: -moz-fit-content;
    height: fit-content;
    border-bottom: none;
    position: sticky;
    top: 0;
  }
  main .view-4 .left .text {
    padding: 2rem;
    gap: 2rem;
  }
  main .view-4 .left .text h1 {
    width: 60%;
    font-weight: 300;
    font-size: 6rem;
  }
  main .view-4 .left .text :nth-child(3) {
    font-size: 1.4rem;
    width: 80%;
  }
  main .view-4 .right {
    border-left: 1px solid black;
  }
  main .view-4 .right .card-4 {
    border-bottom: none;
  }
  main .view-5 .text {
    justify-content: space-around;
  }
  main .view-5 .text h1 {
    font-size: 3rem;
  }
  main .view-5 .text :nth-child(1) {
    display: block;
  }
  main .view-5 .text :nth-child(3) {
    display: block;
  }
  main .view-5 .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "c-1 c-1 c-4 c-4" "c-2 c-3 c-4 c-4";
  }
  main .view-5 .grid-container .image {
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  main .view-5 .grid-container .image img {
    width: 100%;
    transition: 0.5s all ease;
  }
  main .view-5 .grid-container .image .overlay {
    width: 100%;
    background-color: rgb(248, 245, 245);
    text-transform: uppercase;
    padding: 1rem;
    font-family: monospace;
    font-size: 1.1rem;
    border-top: 1px solid black;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
  }
  main .view-5 .grid-container .image img:hover {
    transform: scale(1.1);
  }
  main .view-5 .grid-container .image:hover .overlay {
    opacity: 1;
    transform: translateY(0);
  }
  main .view-5 .grid-container .card-1 {
    border-bottom: 1px solid black;
  }
  main .view-5 .grid-container .card-2 {
    border-left: 1px solid black;
    border-bottom: none;
  }
  main .view-5 .grid-container .card-3 {
    border-left: 1px solid black;
    border-bottom: none;
  }
  main .view-5 .grid-container .card-4 {
    border-left: 1px solid black;
  }
  main .view-6 {
    border-bottom: 1px solid black;
  }
  main .view-6 .top .text {
    justify-content: space-around;
  }
  main .view-6 .top .text h1 {
    font-size: 4rem;
  }
  main .view-6 .top .text :nth-child(1) {
    display: block;
  }
  main .view-6 .top .text :nth-child(3) {
    display: block;
  }
  main .view-6 .bottom {
    gap: 0;
    flex-direction: row;
  }
  main .view-6 .bottom .left {
    width: 100%;
    height: 100vh;
    overflow: visible;
    position: sticky;
    top: 0;
    border-right: 1px solid black;
    background-color: #D5D6DC;
    overflow: hidden;
    border-bottom: 1px solid black;
  }
  main .view-6 .bottom .left .image {
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  main .view-6 .bottom .right .top-container {
    gap: 10rem;
    padding: 4rem;
  }
  main .view-6 .bottom .right .top-container .image img {
    height: 6rem;
  }
  main .view-6 .bottom .right .top-container .text h1 {
    font-size: 5rem;
    width: 80%;
  }
  main .view-6 .bottom .right .bot-container .container {
    position: sticky;
    top: 0;
    height: -moz-fit-content;
    height: fit-content;
  }
  main .view-6 .bottom .right .bot-container .container .b-bottom {
    gap: 3.5rem;
    flex-direction: row;
    padding: 4rem;
  }
  main .view-6 .bottom .right .bot-container .container .b-bottom .b-left h1 {
    font-size: 5rem;
    font-weight: 300;
  }
  main .view-6 .bottom .right .bot-container .container .btn {
    padding: 1.5rem;
  }
  main .view-7 .bottom {
    flex-direction: row;
  }
  main .view-7 .bottom .card {
    gap: 6rem;
    border-right: 1px solid black;
  }
  main .view-8 {
    flex-direction: row;
    overflow: hidden;
  }
  main .view-8 .top {
    width: 50%;
    border-right: 1px solid black;
    padding: 4rem;
  }
  main .view-8 .top .text {
    margin-top: auto;
  }
  main .view-8 .top .text h1 {
    font-size: 4rem;
  }
  main .view-8 .top .text :nth-child(3) {
    -moz-columns: 2;
         columns: 2;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
  main .view-8 .bottom {
    border-top: none;
    width: 50%;
    background-color: #E7E9ED;
  }
  main .view-9 {
    gap: 0;
  }
  main .view-9 .top .text {
    justify-content: space-around;
  }
  main .view-9 .top .text h1 {
    font-size: 3rem;
  }
  main .view-9 .top .text :nth-child(1) {
    display: block;
  }
  main .view-9 .top .text :nth-child(3) {
    display: block;
  }
  main .view-9 .bottom {
    flex-direction: row;
  }
  main .view-9 .bottom .left .l-text {
    position: sticky;
    top: 2rem;
    height: -moz-fit-content;
    height: fit-content;
    padding: 2.5rem;
  }
  main .view-9 .bottom .left .l-text h1 {
    font-size: 5rem;
  }
  main .view-9 .bottom .left .l-text :nth-child(3) {
    width: 80%;
    font-weight: 300;
    font-size: 1.5rem;
  }
  main .view-9 .bottom .right {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: "c-1 c-4" "c-1 c-4" "c-2 c-5" "c-3 c-5";
  }
  main .view-9 .bottom .right .card {
    border-left: 1px solid black;
  }
  main .view-9 .bottom .right .card-1 .r-top, main .view-9 .bottom .right .card-4 .r-top {
    border-top: none;
  }
  main .view-10 .bottom {
    flex-direction: row;
    justify-content: space-between;
  }
  main .view-10 .bottom .b-top .text h1 {
    width: 60%;
    font-size: 5rem;
  }
  main .view-10 .bottom .b-bottom {
    background-color: black;
    display: flex;
    height: -moz-fit-content;
    height: fit-content;
    margin-right: 5rem;
    margin-top: auto;
    justify-content: center;
  }
  main .view-10 .bottom .b-bottom button {
    white-space: nowrap;
    background-color: transparent;
    text-transform: uppercase;
    color: white;
    border: transparent;
    padding: 0.8rem 1.8rem;
  }
  main .view-11 .bottom {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "c-1 c-2 c-3 c-4";
  }
  main .view-11 .bottom .card {
    border-bottom: 1px solid black;
    width: 100%;
    border-right: 1px solid black;
  }
  main .view-11 .bottom .card .image {
    width: 100%;
    display: flex;
    justify-self: center;
  }
  main .view-11 .bottom .card .image img {
    width: 100%;
    border-bottom: 1px solid black;
  }
  main .view-11 .bottom .card .text {
    padding: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  main .view-11 .bottom .card .text h1 {
    text-transform: uppercase;
    font-weight: 400;
  }
  main .view-11 .bottom .card .text p {
    line-height: 1.5;
    font-weight: 300;
    font-size: 1.1rem;
  }
  main .view-11 .bottom .card-1 {
    grid-area: c-1;
  }
  main .view-11 .bottom .card-2 {
    grid-area: c-2;
  }
  main .view-11 .bottom .card-3 {
    grid-area: c-3;
  }
  main .view-11 .bottom .card-4 {
    grid-area: c-4;
  }
  main .view-12 {
    width: 100%;
    gap: 4rem;
    grid-template-columns: 1.25fr 1fr 1fr 1fr;
    grid-template-areas: "c-1 c-2 c-3 c-4";
  }
  main .view-12 .card-1 {
    border-bottom: none;
    border-right: 1px solid black;
  }
}/*# sourceMappingURL=style.css.map */